.confirm {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.img-check {
  width: 77px;
  height: 70px;
}

.titulo {
  margin-top: 30px;
  font-size: 42px;
  width: 600px;
  text-align: center;
}

.subtexto {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  width: 550px;
  text-align: center;
}

.confirm-button {
  padding: 10px 25px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #fff;
  font-size: 16px;
}

.confirm-button:hover {
  color: #fff;
  background-color: #000;
}
