@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

.box {
  margin-left: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 1100px;
}

.title {
  background: rgba(53, 53, 53, 0.05);
  padding: 40px;
}

.guide {
  max-width: 400px;
  margin-right: 20px;
}

.form {
  background: #f0f0f0;
  padding: 49px 32px;
}

.anuncio-h1 {
  /* Page name */

  width: 206px;
  height: 40px;

  /* Heading 3 */

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height */

  /* Text/Black */

  color: #161616;
}

.anuncio-h2 {
  margin-bottom: 41px;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
}

.anuncio-obrigatorio {
  margin-top: 41px;
  margin-bottom: 35px;
  font-size: 13px;
  font-weight: 400;
}

.anuncio-h3 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
}

.anuncio-h4 {
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
}

.anuncio-h6 {
  padding-top: 20px;
  font-size: 15px;
}

.anuncio-texto {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 3.063rem;
}

.confirmacao-cadastro {
  font-size: 11px;
  font-weight: 500;
}

.btn {
  display: flex;
  width: 490px;
  height: 50px;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #ff8b20;
  border: solid 1px transparent;
  font-weight: 400;
}

.btn:hover {
  background-color: #fff;
  border: solid 1px #ff8b20;
  color: #ff8b20;
}

.show-image-input{
  text-decoration: underline;
  color: #161616;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 0.5rem;
  cursor: pointer;
}

.show-image-input:hover, .show-image-input:focus{
  color: #161616;
}

.file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.form-control-anuncio {
  padding-left: 0;
}

.file-input::before {
  content: "Escolha uma imagem";
  background-color: #ff8b20;
  border: 1px solid #ff8b20;
  color: #FFF;
  border-radius: 8px;
  padding: 10px 6px;
  margin: 0;  
}

.form-control-anuncio:hover {
  background-color: #fff;
  border: solid 1px #ff8b20;
}

.input-text {
  height: 50px;
  width: 100%;
  border: 1px solid #C9C9C9;
  border-radius: 5px;
  padding-left: 5px;
}


.input-text:focus {
  outline: none !important;
  border: solid 1px #ff8b20;
}

.select-categoria {
  height: 50px;
  width: 100%;
  border: 1px solid #C9C9C9;
  border-radius: 5px;
  padding-left: 5px;
}

.select-categoria:focus {
  outline: none !important;
  border: solid 1px #ff8b20;
}

.termos-servico {
  margin: 35px 0;
  display: flex;
  align-items: center;
}

.texto-termos {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  margin-left: 10px;
}

.anuncio-text-area {
  width: 100%;
  border: 1px solid #C9C9C9;
  border-radius: 5px;
  resize: none;
}

.anuncio-checkbox {
  width: 15px;
  height: 15px;
}

.anuncio-submit{
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .guide {
    display: none;
  }

  .form {
    margin-left: -1100px;
    width: 350px;
  }

  .btn {
    width: 300px;
  }
}
