main.content-container{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

main.content-container h1{
    width: 100%;
    margin-top: 270px;
    font-family: Montserrat;
    font-size: 50px;
    line-height: 61px;
    font-weight: bold;
    color: #FFA000;
}

main.content-container div.grid-container{
    margin-top: 80px;
    width: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 120px 85px;
    padding: 10px;
}

main.content-container div.grid-container div.grid-item{
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

div.grid-item div.card-container{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.grid-item div.card-container img{
    width: 350px;
    height: 350px;
    max-width: 100%;
    max-height: 100%;
    filter: grayscale(1);
    border: 5px solid transparent;
    transition: all 0.5s ease-in-out;
}

div.grid-item div.card-container img:hover{
    filter: grayscale(0);
    border: 5px solid #FFC107;
}

div.grid-item div.card-container span{
    margin-top: 15px;
    font-family: Montserrat;
    font-size: 26px;
    line-height: 32px;
    font-weight: bold;
    color: #000;
}

div.grid-item div.card-container button{
    margin-top: 25px;
    width: 190px;
    height: 50px;
    background-color: #176902;
    color: #fff;
    font-family: Montserrat;
    font-size: 25px;
    line-height: 30px;
    border: none;
    border: 2px solid transparent;
    transition: all 0.5s ease-in-out;
}

div.grid-item div.card-container button:hover{
    background-color: #fff;
    color: #176902;
    border: 2px solid #176902;
}


@media screen and (max-width: 900px){
    main.content-container div.grid-container{
        grid-template-columns: auto auto;
    }

    div.grid-item div.card-container img{
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 450px){
    main.content-container h1{
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        margin-top: 300px;
    }
    main.content-container div.grid-container{
        grid-template-columns: auto;
    }

    div.grid-item div.card-container img{
        width: 150px;
        height: 150px;
    }
}
