import styled from 'styled-components';
footer {
  font-family: 'Questrial', sans-serif ;
  background: rgba(53, 53, 53, 0.05);
  font-size: 12px;
}
 .copy{
  font-family: 'Questrial', sans-serif ;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  
 }

 .buton-enviar{
  margin-left:-27px;

 }
 .categorias{
 
  font-style: normal;
  font-weight: 300;
 }
 
 .mt-2  {
  width: 200px;
 }


a{
  text-decoration: none;
  color: #fff;
 
} 
.undeline{
  width: 100%;
  font-size: 16px;
  font-style: 0.2rem;
  color: #353535!important;
  position: relative;
}
.undeline::after{
 position: absolute;
 content: "";
 width: 0%;
 height: 2px;
 background-color:#353535;
 left:50%;
 bottom: -4px;
 transform: all 1s ease-in-out;
}
.undeline:hover{
  cursor: pointer;
  
}
.undeline:hover::after{
cursor: pointer;
width: 100%;
left: 0;
 }



 @media (max-width: 589px) {


  .buton-enviar {
    position: relative;
    left: 479px;
    top: -38px;
}
.container{
  justify-content: center;
}
  }
 @media (max-width: 540px) {
  .buton-enviar {
   
    left: 460px;
 
}
  }

    
 @media (max-width: 525px) {
  .buton-enviar {
   
    left: 420px;
 
}
  }
 @media (max-width:487px) {
  .buton-enviar {   
    left: 379px;
 
}
  }
 @media (max-width:360px) {
  .buton-enviar {   
    left: 282px;
  }
 
}
 @media (max-width:390px) {
  .buton-enviar {   
    left: 250px;
  }
 
}

 @media (max-width:375px) {
  .buton-enviar {   
    left: 287px;
  }
 
}
 @media (max-width:320px) {
  .buton-enviar {   
    left: 243px;
  }
 
}
  

    
  

