@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Quicksand:wght@300;400;500;600;700&display=swap');



body {{
    margin: 0;
  font-family:' Questrial', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  a{
    font-family: 'Poppins', sans-serif;
  }
    


 